<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pies | Bethany's Pie Shop</title>
  <link rel="stylesheet" href="static/site.css" type="text/css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pies">Pies</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <aside><img src="static/images/logo.png" alt="Pie Shop logo"></aside>
    <article>
      <section class="columns-desktop">
        <div class="pie">
          <img src="/static/images/apple-pie.png" alt="Apple Pie" />
          <div class="columns">
            <div class="title">Apple Pie</div>
            <div class="price">$12.95</div>
          </div>
          <p class="desc">Our famous apple pie</p>
          <button data-order="apple-pie">Order</button>
        </div>

        <div class="pie">
          <img src="/static/images/cherry-pie.png" alt="Chery Pie" />
          <div class="columns">
            <div class="title">Cherry Pie</div>
            <div class="price">$15.95</div>
          </div>
          <p class="desc">A summer classic!</p>
          <button data-order="cherry-pie">Order</button>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="pies">Pies</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </footer>
</body>
<script>
  // As the page is loaded
  window.addEventListener("DOMContentLoaded", function(e) {

    // Create an orderButtons element that holds the order data for each button
    const orderButtons = document.querySelectorAll("button[data-order]");

    // for each button, once the button is clicked, identify the parent nodes
    orderButtons.forEach(function(button){
      
      button.addEventListener("click", function(e){
        const button = e.currentTarget;
        const container = button.parentNode;

        // query and store the parent node data for each button click/order in an object
        const order = {
          id: button.getAttribute("data-order"),
          title: container.querySelector(".title").innerText,
          price: container.querySelector(".price").innerText,
          desc: container.querySelector(".desc").innerText
        };

        localStorage.setItem("order", JSON.stringify(order));

        const url = window.location.href.replace("pies", "order");
        window.location.href = url;

      });

    });

  });
</script>
</html>